body {
    font-family: 'Open Sans', sans-serif;
}

p, h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Nunito', sans-serif;
}

h1  {
    text-transform: uppercase;
}

h2 {
    border-bottom: 1px solid black;
    width: 100%;
    display: block;
    text-transform: uppercase;
    margin-bottom: 1em;
}

h3 {
    display: flex;
    justify-content: space-between;
    font-size: 1.1em;
}

h3 span.date {
    font-weight: lighter;
}

h4 {
    font-weight: lighter;
    font-style: italic;
}

a, p, h4 {
    font-size: .9em;
}

p.leftline {
    border-left: 1px solid black;
    margin-left: 1em;
    padding-left: 1em;
}

.justify {
    text-align: justify;
}
