<section class="content">
  <h1 class="name">Joseph Chotard</h1>
  <p class="description">Chief Technology officer at Climate Science. Second year MEng Computer Science student.</p>
  <ul class="social-icons">
    <li class="social-icon">
      <a href="https://github.com/JosephChotard" target="_blank">
        <img src="assets/social icons/github.png" alt="">
      </a>
    </li>
    <li class="social-icon">
      <a href="https://www.linkedin.com/in/joseph-chotard/" target="_blank">
        <img src="assets/social icons/linkedin.png" alt="">
      </a>
    </li>
    <li class="social-icon">
      <a href="mailto:joseph@josephchotard.com" target="_blank">
        <img src="assets/social icons/email.png" alt="">
      </a>
    </li>
    <li class="social-icon">
      <a href="https://www.instagram.com/weetabix_joe/" target="_blank">
        <img src="assets/social icons/instagram.png" alt="">
      </a>
    </li>
    <li class="social-icon">
      <a href="https://www.facebook.com/josephchotard1" target="_blank">
        <img src="assets/social icons/facebook.png" alt="">
      </a>
    </li>
  </ul>
</section>